<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
>
    <testsuites>
        <testsuite name="Formagic Base">
            <directory>tests/</directory>
        </testsuite>
        <testsuite name="Formagic Filter">
            <directory>tests/Filter</directory>
        </testsuite>
        <testsuite name="Formagic Item">
            <directory>tests/Item</directory>
        </testsuite>
        <testsuite name="Formagic Renderer">
            <directory>tests/Renderer</directory>
        </testsuite>
        <testsuite name="Formagic Rule">
            <directory>tests/Rule</directory>
        </testsuite>
        <testsuite name="Formagic Translator">
            <directory>tests/Translator</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory suffix=".php">tests/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>