<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="Bootstrap.php"
    colors="true"
>
    <testsuites>
        <testsuite name="Formagic Base">
            <directory>.</directory>
        </testsuite>
        <testsuite name="Formagic Filter">
            <directory>./Filter</directory>
        </testsuite>
        <testsuite name="Formagic Item">
            <directory>./Item</directory>
        </testsuite>
        <testsuite name="Formagic Renderer">
            <directory>./Renderer</directory>
        </testsuite>
        <testsuite name="Formagic Rule">
            <directory>./Rule</directory>
        </testsuite>
        <testsuite name="Formagic Translator">
            <directory>./Translator</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist>
            <directory suffix=".php">../Formagic</directory>
            <exclude>
                <directory suffix=".php">../Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>